body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 40px;
  font-weight: bold;
}

img {
  width: 100px;
  margin: 10px 0;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.other {
  background-color: rgb(255, 144, 144);
}

/* Extra small */
@media screen and (max-width: 576px) {
  img {
    width: 500px;
    margin: 10px 0;
  }
}

/* Small */
@media (min-width: 577px) and (max-width: 768px) {
  img {
    width: 250px;
    margin: 10px 0;
  }
}
/* Medium */
@media (min-width: 769px) and (max-width: 992px) {
  img {
    width: 250px;
    margin: 10px 0;
  }
}
/* Large */
@media (min-width: 993px) and (max-width: 1200px) {
  img {
    width: 250px;
    margin: 10px 0;
  }
}
/* Extra large */
@media (min-width: 1200px) {
  img {
    width: 250px;
    margin: 10px 0;
  }
}
